.application ul {
  list-style: none;
}

.appTitleStyle {
  text-transform: uppercase;
}

.textCenter {
  text-align: center;
}

.card {
  background-color: white;
}

.card-header {
  background-color: white;
}
